@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Maven Pro', sans-serif;
    color: white;
}

:root {
    scroll-behavior: smooth;
    --title-size: 22px;
    --title-weight: 600;
    --subtitle-size: 17px;
    --paragraph-size: 18px;

}

body {
    min-height: 100%;

    background-color: rgb(17, 16, 16);
}

.container {
    margin: 0 6%;
    padding: 0;
    /*overflow: hidden;*/


}

.title {

    font-size: var(--title-size);
    margin-bottom: 40px;

}


.subtitle {
    font-size: var(--subtitle-size);
    margin-bottom: 15px;
}

.paragraph {
    font-size: var(--paragraph-size);
    margin-bottom: 45px;
}

/*header nav-----------------------------------*/
.nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 30px 6%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(17, 16, 16);
    z-index: 1;
}

/*header nav icono-----------------------------------*/
.container-icono-nav {
    display: flex;
    align-items: center;
    width: 50%;
    font-weight: 600;
    animation-name: anm-icono-nav;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

.container-icono-nav span {
    display: inline-block;
    width: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
    color: rgb(0, 183, 255);
    border-radius: 50%;
    margin-right: 5px;
}

.container-icono-nav p {
    letter-spacing: 5px;
    font-size: x-large;
}

/*header nav opciones menu-----------------------------------*/

.options-menu-nav {
    display: flex;
    gap: 15px;
    font-size: large;
}

.options,
.links {
    list-style: none;
    text-decoration: none;
    padding: 2px 5px;
}

/*main-----------------------------------*/
.main {
    margin-top: 12%;

}

.review-jesgod {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-header-main {
    width: 80%;
    line-height: 30px;
}

.text-header-main h1 {
    margin-bottom: 20px;
}

.img-perfil-header {
    width: 18%;
    border-radius: 50%;
    padding: 1%;
    margin: 1%;
    animation-name: añadir-border;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}


/*works-----------------------------------*/
.imagen-work {
    border-radius: 5%;
    width: 50%;
    padding: 0 1%;
    cursor: pointer;
}

.container-works {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}


.work-landingPage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
    
}



.text-landingPage {
    width: 50%;

}


.work-webRgb {
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse;
    margin-bottom: 85px;

}

.text-webRgb {
    width: 50%;
}


.work-reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 85px;
}

.text-reviews {
    width: 50%;
}

/*about me----------------------------------*/


.gallery {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "elemento3 elemento1"
        "elemento3 elemento2";
    gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

.img-gallery1 {
    width: 100%;
    height: 100%;
    grid-area: elemento1;
    box-shadow: 0 0px 6px rgb(255, 255, 255);

}

.img-gallery2 {

    width: 100%;
    height: 100%;
    grid-area: elemento2;
    box-shadow: 0 0px 6px rgb(255, 255, 255);

}

.img-gallery3 {

    width: 100%;
    height: 100%;
    grid-area: elemento3;
    box-shadow: 0 0px 6px rgb(255, 255, 255);
}

.skills-values {
    display: flex;
    justify-content: space-between;
}

/*footer---------------------*/

.line {
    border: 1px solid white;
    margin-bottom: 10px;
}

/* copyright y socialMedia*/
.copyright-socialMedia {
    display: flex;
    justify-content: space-between;


}

.s-icono {
    font-size: x-large;
    margin-left: 15px;


}

.s-icono i {
    border-radius: 30%;
    animation: anm-social-icons infinite alternate .5s;
    /*
    animation-name: anm-social-icons;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
}




/*section lightbox------------------------------------------------------------------------*/
.close-lightbox{
    position: absolute;
    font-size: x-large;
    top: 10%;
    right: 5%;
    cursor: pointer;
    animation: anm-close-lightbox 2s infinite  alternate ;
    
}

.containerLightbox{
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 191, 255, 0.173);
    z-index: 2;
    transform: translateY(101%);
}


.show-contenedor-lightbox{
    transition: .2s ease-in-out;
    transform: translate(0);
    
}

.img-lightbox{
    width: 65%;
    box-shadow: 10px 10px 5px  rgb(255, 255, 255) inset, -10px -10px 5px  rgb(255, 255, 255) inset;
    padding: 7px;
    transform: scale(0);
}
.show-img-lightbox{
    transition:  .3s .2s ;
    transform: scale(1);
}
/*1800px - 2500px*/

@media screen and (min-width:1800px) {
    :root {

        --title-size: 40px;
        --title-weight: 700;
        --subtitle-size: 30px;
        --paragraph-size: 31px;

    }

    /*nav */

    /*icono*/
    .container-icono-nav {
        font-weight: 700;

    }

    .container-icono-nav span {
        width: 40px;
        font-size: xx-large;

    }

    .container-icono-nav p {
        letter-spacing: 5px;
        font-size: xx-large;
    }

    /*menu opciones*/
    .options-menu-nav {
        font-size: xx-large;
    }
     /*footer*/
     .s-icono {
        font-size: 35px;
    }

}


/*responsive pantalla 800px*/

@media screen and (max-width:800px) {
    :root {

        --title-size: 21px;
        --title-weight: 580;
        --subtitle-size: 16px;
        --paragraph-size: 17px;

    }



    /*header nav icono-----------------------------------*/
    .container-icono-nav {
        width: auto;
        font-weight: 550;

    }

    .container-icono-nav span {
        width: 26px;
        text-align: center;
        font-size: 20px;


        margin-right: 5px;
    }

    .container-icono-nav p {
        letter-spacing: 4px;
        font-size: 20px;
    }

    /*main header review*/
    .main {
        margin-top: 21%;

    }

    .review-jesgod {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .img-perfil-header {
        width: 30%;
        border-radius: 50%;
        margin-bottom: 30px;
    }

    .text-header-main {
        width: 80%;
        line-height: 30px;
        text-align: center;
    }


    /*works*/
    .imagen-work {
        border-radius: 5%;
        width: 50%;
        height: 150px;
    }

    .work-landingPage {

        margin-bottom: 35px
    }

    .work-webRgb {

        margin-bottom: 0px;

    }

    .work-reviews {

        margin-bottom: 35px;
    }

    .img-lightbox{
        width: 100%;
        
    }    


    /*about me / gallery*/
    .skills {
        width: 50%;
    }

    /*footer*/
    .s-icono {
        font-size: large;
    }
}

/*500-300px*/

@media screen and (max-width:500px) {
    :root {

        --title-size: 17px;
        --title-weight: 550;
        --subtitle-size: 13px;
        --paragraph-size: 14px;

    }



    /*header nav-----------------------------------*/

    .nav {
        padding: 15px 0%;
        justify-content: center;
        flex-direction: column;
    }

    .container-icono-nav {
        font-weight: 500;
        margin-bottom: 4px;
    }

    .container-icono-nav span {
        width: 22px;
        font-size: medium;
    }

    .container-icono-nav p {
        letter-spacing: 3px;
        font-size: medium;
    }

    /*header nav opciones menu-----------------------------------*/

    .options-menu-nav {
        display: flex;
        gap: 12px;
        font-size: small;
    }

    /*main header review*/
    .main {
        margin-top: 25%;

    }



    .img-perfil-header {
        width: 30%;
    }

    .text-header-main {
        line-height: 20px;
    }





    /*works*/
    .container-works {
        margin-top: 40px;
    }

    .imagen-work {

        width: 50%;
        height: 90px;

    }

    .work-landingPage {

        margin-bottom: 5px
    }

    .work-webRgb {

        flex-flow: row-reverse;
        margin-bottom: 5px;

    }

    .work-reviews {

        margin-bottom: 5px;
    }

    .img-lightbox{
        width: 100%;
        
    }    

    /*skills*/
    .skills {
        width: auto;

    }

    /*footer*/
    .s-icono {
        font-size: small;
    }
}

/*afectos------------------------------*/

/*nav*/
.nav:hover {
    transition: .2s;
    box-shadow: 0px 0px 8px rgba(0, 191, 255, 0.684);
}

.links:hover {
    transition: 0.1s;

    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.403);
    color: rgba(0, 255, 255, 0.685);
}

.options:hover {
    transition: 0.2s;
    transform: rotate(10deg) scale(1.1);
}

/*works*/

.work-landingPage:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.work-webRgb:hover {
    transition: 0.3s;
    transform: scale(1.05);
}

.work-reviews:hover {
    transition: 0.3s;
    transform: scale(1.05);
}


/*about me */

.img-gallery1:hover {
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 0px 0px 8px rgba(0, 191, 255, 0.684);
}

.img-gallery2:hover {
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 0px 0px 8px rgba(0, 191, 255, 0.684);
}

.img-gallery3:hover {
    transition: 0.3s;
    transform: scale(1.02);
    box-shadow: 0px 0px 8px rgba(0, 191, 255, 0.684);
}

/*footer*/
/*social icons*/

.s-icono:hover i {
    color: rgb(0, 191, 255);
}

/*keyframes animaciones------------------------------*/
/*icono nav /header main foto*/

.img-perfil-header:hover {
    box-shadow: 1px 1px 8px rgba(0, 191, 255, 0.384);
}

@keyframes añadir-border {
    from {
        box-shadow: 1px 1px 8px rgba(0, 191, 255, 0.173);
    }

    to {
        box-shadow: 1px 1px 8px rgba(0, 191, 255, 0.684);
    }
}

@keyframes anm-icono-nav {
    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(5deg);
    }


}

/*social icon animations*/

@keyframes anm-social-icons {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(20deg);
        background-color: rgb(4, 88, 88);
    }
}

/* close lightbox*/
 @keyframes anm-close-lightbox {
    from{
        transform: rotate(0);
        color: aliceblue;
    }
    50%{
        color: aqua;
    }
    to{
        transform: rotate(90deg);
        color: rgb(255, 0, 0);
    }
 }